@model List<Category>
@{
    ViewData["Title"] = "Список категорий";
}

<div class="row">
    <div class="col-md-3">
        <a href="~/Category/Create" class="btn btn-primary">Добавить категорию</a>
    </div>
</div>

<div class="row d-block">
    @foreach (var per in Model)
    {
        <div class="rounded p-2 m-1" style="background-color:#D8D9DB">
            <div class="text-muted">ID: @per.Id</div>
            <div>Название: <a href="~/Product/Index?category=@per.Name">@per.Name</a></div>
            <div class="btn-group btn-group-sm">
                <a href="~/Category/Edit?id=@per.Id" class="btn btn-primary">Изменить</a>
                <a href="~/Category/Delete?id=@per.Id" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    }
</div>