@model codeFirstHW.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Добавление продукта";
}

<form action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger  mb-1"></div>
    <div class="input-group row mb-1">
        <label class="col-md-2 form-control" asp-for="Name"></label>
        <input class="form-control col-lg-12" asp-for="Name" required />
    </div>
    <div class="input-group row mb-1">
        <label class="col-md-2 form-control" asp-for="Price"></label>
        <input class="form-control col-12"  asp-for="Price" required />
    </div>

    <div class="input-group row mb-1">
        <label class="col-md-2 form-control" asp-for="CategoryId"></label>
        <select class="form-control col-12" asp-for="CategoryId" asp-items="@Model.Categories">
        </select>
    </div>

    <div class="input-group d-flex justify-content-end">
    
        <button type="submit" class="btn btn-primary mr-3">Добавить</button>
    </div>
</form>
